extends layout

block content
  .container-fluid
    .row
      .col-xs-12
        section.hero
          h1 Welcome to Telangana Ruchulu
          p We bring you the finest culinary experience with a blend of flavors that will delight your taste buds.
        section.special-features
          .row
            .col-xs-12.col-sm-6
              .promotion
                h2 Special Promotions
                p Limited-time offers and happy hour deals.
                ul
                  li 20% off on appetizers
                  li Buy one, get one free cocktails
                  li Chef's special tasting menu
            .col-xs-12.col-sm-6
              .events
                h2 Upcoming Events
                p Live music nights and themed evenings.
                ul
                  li Live Jazz Night every Friday
                  li Wine Tasting Tuesday
                  li 80's fever night Wednesday
        section.about-us
          h2 About Us
          p We are a restaurant dedicated to serving the finest cuisine with a focus on quality and freshness.
          a.learn-more(href="/aboutus") Learn More
        section.featured-dishes
          h2 Featured Dishes
          .row
            .col-xs-12.col-s
              .dish
                h3 Chicken Biryanim-6
                p A flavorful and aromatic South Asian dish featuring tender chicken pieces and fragrant basmati rice, intricately spiced and layered to create a harmonious blend of taste and texture.
            .col-xs-12.col-sm-6
              .dish
                h3 Ramen
                p A beloved Japanese noodle dish characterized by its rich broth, firm wheat noodles, and an array of toppings, offering a comforting and diverse culinary experience.
        section.testimonials
          h2 What Our Customers Say
          .row
            .col-xs-12
              .testimonial
                blockquote
                  p "Delicious food and excellent service! This is my favorite restaurant."
                p -Krishna
        section.reservation-cta
          h2 Reserve a Table
          p Book a table now to experience our culinary delights firsthand.
          a.btn-reserve(href="/reserve") Reserve Now
        section.contact
          .row
            .col-xs-12.col-sm-6
              h2 Get in Touch
              p For reservations or inquiries, feel free to contact us.
              p Phone: +6300139723
              p Email: telanganaruchulu@restaurant.com
              a.btn-contact(href="/contact") Contact Us
          .col-xs-12.col-sm-6.fill-right
            // Add content for the right side
        